.product-container{
    justify-content:center;
    width: 1403px;
    position: relative;
    margin: 60px 0;
    display: flex;
    height: 700px;
    justify-content: space-between;
}

.product-body{
    width: 300px;
    height: auto;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.6rem;
}

.item-brand{
    font-weight: 600;

}
.item-price-head{
    font-size: 1.13rem;
    font-weight: 700;
    position: relative;
    
}
.item-price{
    font-size:1.5rem ;
    font-weight: 700;
   
    position: relative;
    top: 10px;

}

.item-add-btn{
    width: 292px;
    height: 52px;
    border: none;
    color: #fff;
    background-color: #5ECE7B;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-weight: 600;
    margin-top: 20px;
}

.item-descrip{
    width: 292px;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 20px;
}

.product-head{
    width: 727px;
    height: auto;
    
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-product-img-container{
    width: 610px;
    height: 511px;
    padding: 0 40px;
    
}
.normal-product-img-container{
    width: 100px;
    height: auto;
    position: relative;
    /* background-color:black */
}
.main-img{
    height: 511px;
    width: 610px;
    object-fit: contain;
}

.normal-img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: relative;
    left: 0px;
    top:0px;
}